@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root{
    --scrollbar-width-size: 10px; /* Uniform width */
    --scrollbar-border-radius: 5px;
    --blue-400-fade:oklch(50.7% 0.165 254.624 /0.8);
    --blue-400-faded:oklch(from var(--blue-400-fade) l c h /0.3);

    /* light theme */
    --lighttext-header:oklch(0.05 0.1 0);
    --lighttext-subheader:oklch(from var(--lighttext-header)  calc(l + 0.08) c h);
    --lighttext-text:oklch(from var(--lighttext-header)  calc(l + 0.18) c h);
    --light-bg:linear-gradient(135deg,var(--darktext-header),var(--darktext-subheader));
    --nav-link-light:oklch(20% 0.1 270);
    --nav-bg-light:oklch(92% 0.005 240 /0.94);

    --scrollbar-track: var(--nav-bg-light); /* Light Gray Track */
    --scrollbar-thumb:oklch(from var(--lighttext-header) calc(l + 0.5) c calc(h + 260) /0.7 ) ;
    --scrollbar-border: var(--lighttext-text);



    /* dark theme */
    --darktext-header:oklch(0.9 0 0);
    --darktext-subheader:oklch(from var(--darktext-header) calc(l - 0.05) c h);
    --dark-text: oklch(from var(--darktext-header) calc(l - 0.15) c h);
    --nav-link-dark:oklch(85% 0.01 240);
    --nav-bg-dark:oklch(25% 0.025 282);
    --switch-dark:oklch(22.653% 0.03282 237.469) ;
    --dark-card:oklch(15.056% 0.02036 282.92 /0.8);

     --bg-dark-start: oklch(12.056% 0.02036 282.92); /* Base Dark Indigo (Center) */
     --bg-dark-end: oklch(7.472% 0.02188 279.717);    /* Darker Indigo (Edges) */
     --dark-gradient: linear-gradient(45deg, var(--bg-dark-start) 0%,  var(--bg-dark-end) 100%  );

    --scrollbar-track-dark: var(--lighttext-subheader); 
    --scrollbar-thumb-dark: var(--nav-bg-dark); /* Light Gray Thumb */
    --scrollbar-border-dark: var(--switch-dark);

    /* my fonts */
    --font-inter: 'Inter', sans-serif;
    --font-roboto-condensed: 'Roboto Condensed', sans-serif;

    /* custom */
    --gradient-start-accent: oklch(43.419% 0.0774 287.897);
    --gradient-end-accent: oklch(50% 0.15 284);
    --custom-gradient-hsl: linear-gradient(120deg, var(--gradient-start-hsl) 0%, var(--gradient-end-hsl) 100%);

}

html.dark {
  transition: background-color 0.3s ease, color 0.3s ease;
}
html:not(.dark) {
  transition: background-color 0.3s ease, color 0.3s ease;
}
body{
 box-sizing:border-box;
 font-family:var(--font-roboto-condensed) "Geneva"  "Tahoma";
}

/* scroll tracks */
body::-webkit-scrollbar{
   width: var(--scrollbar-width-size);
}
body::-webkit-scrollbar-thumb{
  background: var(--scrollbar-thumb);
  border-radius: var(--scrollbar-border-radius);
  border: 1px solid var(--scrollbar-border);

}
body::-webkit-scrollbar-track{
   background: var(--scrollbar-track);
  border-radius: var(--scrollbar-border-radius);
}

html.dark ::-webkit-scrollbar-track {
    background: var(--scrollbar-track-dark); /* Directly use the dark variable */
}

html.dark ::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb-dark); /* Directly use the dark variable */
    border: 1px solid var(--scrollbar-border-dark);
}


button:disabled{
   position: relative;
   opacity: 0.7;
   color: transparent; 
   text-indent: -9999px;
}
button:disabled::after {
   content: "";
   display: block;
   width:2rem;
   height: 2rem;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   border: 4px solid var(--blue-400-faded);
   border-top: 4px solid var(--blue-400-fade); 
   border-radius: 50%; 
   animation: loader 1s linear infinite;
}


.input-group input:focus~label,.input-group input:valid~label{
  top:0;
  font-size: 0.7rem;
  background:transparent;
}
.size-transform{
  transition: all  1s  ease-in-out ;
}
.size-transform:hover{
  transform:translateY(-2%) scale(1.25);
}

.letter-animate {
  display: inline;
  animation: reveal-letter 3s ease-out  1.5s infinite alternate;
}

.slide-in{
  animation: slidein  3s ease-in 0.3s;
}

@keyframes slidein {
   0%{
     transform:translateX(50px);

     opacity: 0;
   }
   100%{
    transform:translateX(0) translateY(0);
     opacity:1;
   }
}

@keyframes reveal-letter {
    0% {
       
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
     
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes loader{
  0%{ transform:rotate(0deg)}
  100%{transform:rotate(360deg)}
}